<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
		<link rel="stylesheet" href="/stylesheets/rootstyle.css" type="text/css" />
		<title>Employee Attendance</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>