    <div style="background-image: url(../img/logo.png)" class="fieldBox">
      <div class="signBtns">
        <button id="signIn">Sign In</button>
        <button id="signUp">Sign Up</button>
      </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/root.js"></script>
