<div class="fieldBox">
  <h1 id="welcome">Welcome to Work In Progress</h1>
  <form class="inputField">
    <input name="fullName" type="text" id="fullName" placeholder="Full Name">
    <input name="email" type="email" id="email" placeholder="Email">
    <input name="password" type="password" id="password" placeholder="Password">
    <button type="submit" id="signUp">Sign Up</button>
  </form>

  <hr>
  <div class="accountLinks">
    <a href="/login.html">Already have an account?</a>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>