    <header>Work In Progress</header>
    <hr id="headerLine">
    <div class="statsHeader">
      <p id="statsLabel">Your Stats</p>
    </div>
    <hr class="statsBreak">
    <div class="statsContainer">
      <div class="weekHours">
        <p id="currentHoursHead">Hours Worked in the Past 7 Days</p>
        <div class="records">
          <p id="currentHours">Current: </p>
          <p id="recordHours">Record: </p>
        </div>
      </div>
      <div class="weekTasks">
        <p id="currentTasksHead">Tasks Completed in the Past 7 Days</p>
        <div class="records">
          <p id="currentTasks">Current: </p>
          <p id="recordTasks">Record: </p>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/stats.js"></script>